:root {
    --font-size-xl: 50px;
    --font-size-lg: 24px;
    --font-size-md: 16px;
    --font-size-sm: 12px;

    --font-family-primary: Oswald;
    --font-family-secondary: "Nunito Sans";

    --font-weight-thin: 250;
    --font-weight-semithin: 375;
    --font-weight-normal: 500;
    --font-weight-semibold: 625;
    --font-weight-bold: 750;

    --border-radius: 5px;

    --color-black: rgb(29, 47, 61);
    --color-gray: #435269;
    --color-gray-light: #5e7786;
    --color-white: #f5f5f5;
}

body {
    background-color: var(--color-white);
    margin: 0;

    font-size: var(--font-size-md);
    font-family: var(--font-family-secondary);
}

h1 {
    padding: 10px 0;

    color: var(--color-black);
    font-size: var(--font-size-xl);
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-bold);
}

h2 {
    padding: 5px 0;

    color: var(--color-gray);
    font-size: var(--font-size-md);
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-semibold);
}

h3 {
    padding: 10px 0;

    color: var(--color-black);
    font-size: var(--font-size-lg);
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-bold);
}

p {
    color: var(--color-black);
    font-size: var(--font-size-md);
    font-family: var(--font-family-secondary);
    text-align: justify;
}

strong {
    font-weight: var(--font-weight-bold);
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}

th,
td {
    padding: 2px 4px;
    text-align: left;
}

footer {
    background-color: var(--color-black);

    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;

    padding: 0px 20px 40px;

    & h3 {
        color: var(--color-white);
    }

    & p {
        color: var(--color-gray-light);
        margin: 0;
    }

    & ul {
        padding: 0 0 0 var(--font-size-md);
        color: var(--color-gray-light);
    }

    & a {
        color: var(--color-gray-light);
    }
}

.table {
    --paint-head: black;
    --paint-body: white;
    --paint-row-even: transparent;
    --paint-row-even-color: var(--paint-head);
    --paint-row-odd: transparent;
    --paint-row-odd-color: var(--paint-head);
    --paint-border-head: var(--paint-body);
    --paint-border-body: var(--paint-head);
    --paint-border-row-even: var(--paint-border-body);
    --paint-border-row-odd: var(--paint-border-body);

    & th,
    & td {
        padding: 2px 4px;
        border: transparent solid 1px;
    }

    & th:nth-child(1) {
        border-color: var(--paint-border-body);
        border-right-color: var(--paint-border-head);
    }

    & th:nth-last-child(1) {
        border-color: var(--paint-border-body);
        border-left-color: var(--paint-border-head);
    }

    & th {
        color: var(--paint-body);
        border-color: var(--paint-border-body) var(--paint-border-head);
    }

    & tr:nth-child(odd) {
        color: var(--paint-row-odd-color);
        background-color: var(--paint-row-odd);

        & td {
            border-color: var(--paint-border-row-odd);
        }
    }

    & tr:nth-child(even) {
        color: var(--paint-row-even-color);
        background-color: var(--paint-row-even);

        & td {
            border-color: var(--paint-border-row-even);
        }
    }

    & thead {
        background-color: var(--paint-head);
        color: var(--paint-body);
    }

    & tbody {
        background-color: var(--paint-body);
        color: var(--paint-head);
    }
}

.table--dark {
    --paint-head: var(--color-gray);
    --paint-body: var(--color-white);
    --paint-row-even: var(--color-gray-light);
    --paint-row-even-color: var(--color-white);
}

.news__head {
    & hr {
        margin: 0;
    }

    & .news__header {
        position: relative;

        & .news__title {
            padding: 20px;

            & h1 {
                margin: 0;
            }

            & h2 {
                margin: 0;
            }

            & .news__return {
                color: var(--color-gray-light);
                text-decoration: none;

                transition: color 0.4s;
            }

            & .news__return:hover {
                color: var(--color-black);
                text-decoration: none;
            }
        }

        & .news__background {
            position: absolute;
            top: 0px;
            z-index: -1;

            width: 100%;
            height: 100%;
            object-fit: cover;

            filter: opacity(30%);
        }
    }

    & .news__nav {
        display: flex;
        justify-content: center;
        gap: 5px;

        padding: 0px 20px 0px 20px;
        background-color: var(--color-black);

        & a {
            width: 20%;
            padding: 4px 4px 0px 4px;

            color: var(--color-white);
            font-size: var(--font-size-md);
            font-family: var(--font-family-secondary);
            font-weight: 250;
            text-decoration: none;
            text-align: center;

            border-bottom: var(--color-gray) solid 4px;

            transition: background-color 0.4s;
        }

        & a:hover {
            background-color: var(--color-gray);
        }
    }
}

.news__body {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 0 20px;
    margin: 0 0 50px 0;

    background-color: var(--color-gray-white);

    & img {
        border: var(--color-black) solid 1px;
        border-radius: var(--border-radius);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    }

    & .news__section {
        & h3 {
            margin-bottom: 0;
        }

        & p {
            margin: 10px 0;
        }
    }

    & .news__portrait {
        display: grid;
        column-gap: 8px;
        grid-template-columns: auto;

        margin: 0;

        & img {
            width: 100%;
            height: 100%;
            min-height: 150px;
            max-height: 300px;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
        }
    }

    & .news__portrait--double {
        grid-template-columns: auto auto;
    }

    & .news__portrait--triple {
        grid-template-columns: auto auto auto;
    }

    & .news__portrait--side {
        display: flex;
        flex-direction: row;
        gap: 20px;

        & img {
            width: auto;
            height: auto;
            min-width: 20%;
            max-width: 40%;

            margin: 10px 0;
        }
    }
}

.w-fit {
    width: fit-content;
}

.mh-auto {
    margin-right: auto;
    margin-left: auto;
}

.img__origin--right {
    object-position: right;
}

.img__origin--left {
    object-position: left;
}

.flex__container--column {
    display: flex;
    flex-direction: column;
}

.flex__justify--space-between {
    justify-content: space-between;
}
